body {
    font-family: fantasy;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.rabiul {
    color: lawngreen;
}

p {
    font-weight: 400;
    font-family: sans-serif;
}

a {
    background-image: linear-gradient(orange, tomato);
    font-size: 17px;
    color: rgb(253, 252, 252);
    text-decoration: none;
    padding: 5px 8px;
    font-weight: 500;
    border-radius: 5px;
}

section {
    display: flex;
}

.new {
    width: 50%;
    margin-left: 0px;
    padding-left: 50px;
}

.new img {
    width: 80%;
    height: 70%;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}